venv/
OldTest/
DataSet-Archive/
venv_gemini/
venv_train/
venv_kiosk/
Train-dataset/dataset/
Call-API.py
Train-dataset/Train-02-CNN/cnn_dataset-01/
Train-dataset/Train-02-CNN/cnn_dataset-02/
Train-dataset/Train-02-CNN/cnn_dataset_split/
Train-dataset/Train-02-CNN/split_dataset/
Demo/Demo-04/__pycache__/
Demo/Demo-05/__pycache__/
Demo/Demo-06/__pycache__/